<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="./js/lib/jquery-ui/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="./js/common.js"></script>
<script type="text/javascript" data-main="./js/actuator" src="./js/lib/requirejs/require.js"></script>
<title>Actuator</title>
</head>
<body>
	<div>Actuator</div>
	<div>
		<select id="action"></select>
	</div>
	<div id="button">Submit</div>
	<div id="result"></div>
</body>
</html>