<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="./js/lib/jquery-ui/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="./js/common.js"></script>
<script type="text/javascript" data-main="./js/page3" src="./js/lib/requirejs/require.js"></script>
<title>Page 3</title>
</head>
<body>
	<div>page 3</div>
	<div>Rest Sample</div>
	<div id="message_POST"></div>
	<div id="message_GET"></div>
	<div id="message_PUT"></div>
	<div id="message_DELETE"></div>
</body>
</html>