<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="./js/lib/jquery-ui/themes/smoothness/jquery-ui.css" />
<script type="text/javascript" src="./js/common.js"></script>
<script type="text/javascript" data-main="./js/login" src="./js/lib/requirejs/require.js"></script>
<title>Login</title>
</head>
<body>
	<div>Login</div>
	<div>
		<input type="text" id="name" />
	</div>
	<div>
		<input type="password" id="password" />
	</div>
	<div id="button">Login</div>
	<div id="message"></div>
</body>
</html>